<div>
  <h2 id="page-heading" data-cy="GestoreHeading">
    <span jhiTranslate="benzappApp.gestore.home.title">Gestores</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="benzappApp.gestore.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-gestore"
        [routerLink]="['/gestore/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="benzappApp.gestore.home.createLabel"> Create a new Gestore </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="gestores?.length === 0">
    <span jhiTranslate="benzappApp.gestore.home.notFound">No gestores found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="gestores && gestores.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead class="thead-dark">
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="provincia">
            <span jhiTranslate="benzappApp.gestore.provincia">Provincia</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="comune">
            <span jhiTranslate="benzappApp.gestore.comune">Comune</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="indirizzo">
            <span jhiTranslate="benzappApp.gestore.indirizzo">Indirizzo</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="longitudine">
            <span jhiTranslate="benzappApp.gestore.longitudine">Longitudine</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="latitudine">
            <span jhiTranslate="benzappApp.gestore.latitudine">Latitudine</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="tipo"><span jhiTranslate="benzappApp.gestore.tipo">Tipo</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="benzinaPrezzoAlLitro">
            <span jhiTranslate="benzappApp.gestore.benzinaPrezzoAlLitro">Benzina Prezzo Al Litro</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="gasolioPrezzoAlLitro">
            <span jhiTranslate="benzappApp.gestore.gasolioPrezzoAlLitro">Gasolio Prezzo Al Litro</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="owner"><span jhiTranslate="benzappApp.gestore.owner">Owner</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="marchio.id">
            <span jhiTranslate="benzappApp.gestore.marchio">Marchio</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let gestore of gestores; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/gestore', gestore.id, 'view']">{{ gestore.id }}</a>
          </td>
          <td>{{ gestore.provincia }}</td>
          <td>{{ gestore.comune }}</td>
          <td>{{ gestore.indirizzo }}</td>
          <td>{{ gestore.longitudine }}</td>
          <td>{{ gestore.latitudine }}</td>
          <td jhiTranslate="{{ 'benzappApp.TipoImpianto.' + gestore.tipo }}">{{ gestore.tipo }}</td>
          <td>{{ gestore.benzinaPrezzoAlLitro }}</td>
          <td>{{ gestore.gasolioPrezzoAlLitro }}</td>
          <td>{{ gestore.owner }}</td>
          <td>
            <div *ngIf="gestore.marchio">
              <a [routerLink]="['/marchio', gestore.marchio?.id, 'view']">{{ gestore.marchio?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div>
              <button
                type="submit"
                [routerLink]="['/gestore', gestore.id, 'view']"
                class="btn btn-outline-info"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/gestore', gestore.id, 'edit']"
                class="btn btn-outline-primary"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(gestore)" class="btn btn-outline-danger" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="gestores && gestores.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
