<div style="margin-top: 24px;" *ngIf="tessera">

  <h2 id="page-heading" fxLayout="row" fxLayoutAlign="space-between center">

    <div fxLayout="row" fxLayoutAlign="start center" style="padding-left: 24px">
      <mat-icon>qr_code</mat-icon>&nbsp;
      <span jhiTranslate="benzappApp.tessera.detail.title-qr">QR Code </span>
    </div>

    <div class="d-flex justify-content-end">
      <button mat-stroked-button color="primary" (click)="previousState()">
        <mat-icon>arrow_back</mat-icon>
        <span jhiTranslate="entity.action.back">Back</span>
      </button>
    </div>
  </h2>

  <div fxLayout fxLayoutAlign="center center" style="min-height: 400px">
    <ngx-qrcode [width]="380"
                [elementType]="elementType"
                [value]="value"
    >
    </ngx-qrcode>
  </div>

  <div fxLayout>
    <mat-form-field style="margin: 12px" appearance="fill" fxFlex="45">
      <mat-label><span jhiTranslate="benzappApp.tessera.targa">Targa</span></mat-label>
      <input readonly matInput value="{{ tessera.targa }}">
    </mat-form-field>

    <mat-form-field style="margin: 12px" appearance="fill" fxFlex="45">
      <mat-label><span jhiTranslate="benzappApp.tessera.codice">Codice</span></mat-label>
      <input readonly matInput value="{{ tessera.codice }}">
    </mat-form-field>

  </div>


</div>
