<mat-card style="margin: 12px">

  <mat-card-header>
    <div mat-card-avatar>
      <button mat-icon-button color="primary" (click)="previousState()">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>
    <mat-card-title fxLayout fxFill fxLayoutAlign="space-around center"><span jhiTranslate="benzappApp.tessera.detail.title-qr">QR Code </span>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content *ngIf="tessera">
    <div class="d-flex justify-content-end">
      <button mat-button color="primary" (click)="share(qrcode)">
        <mat-icon>share</mat-icon>
        <span>Share</span>
      </button>
    </div>

    <div fxLayout fxLayoutAlign="center center" style="min-height: 400px">
      <ngx-qrcode #qrcode [width]="360"
                  [elementType]="elementType"
                  [value]="value"
      >
      </ngx-qrcode>
    </div>

    <div fxLayout>
      <mat-form-field style="margin: 12px" appearance="fill" fxFlex="45">
        <mat-label><span jhiTranslate="benzappApp.tessera.targa">Targa</span></mat-label>
        <input readonly matInput value="{{ tessera.targa }}">
      </mat-form-field>

      <mat-form-field style="margin: 12px" appearance="fill" fxFlex="45">
        <mat-label><span jhiTranslate="benzappApp.tessera.codice">Codice</span></mat-label>
        <input readonly matInput value="{{ tessera.codice }}">
      </mat-form-field>

    </div>
  </mat-card-content>
</mat-card>


