<div>
  <h2 id="page-heading" data-cy="DelegaHeading">
    <span jhiTranslate="benzappApp.delega.home.title">Delegas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="benzappApp.delega.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-delega"
        [routerLink]="['/delega/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="benzappApp.delega.home.createLabel"> Create a new Delega </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="delegas?.length === 0">
    <span jhiTranslate="benzappApp.delega.home.notFound">No delegas found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="delegas && delegas.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead class="thead-dark">
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="cittadino.id">
            <span jhiTranslate="benzappApp.delega.cittadino">Cittadino</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="tessera.id">
            <span jhiTranslate="benzappApp.delega.tessera">Tessera</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let delega of delegas; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/delega', delega.id, 'view']">{{ delega.id }}</a>
          </td>
          <td>
            <div *ngIf="delega.cittadino">
              <a [routerLink]="['/cittadino', delega.cittadino?.id, 'view']">{{ delega.cittadino?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="delega.tessera">
              <a [routerLink]="['/tessera', delega.tessera?.id, 'view']">{{ delega.tessera?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div>
              <button type="submit" [routerLink]="['/delega', delega.id, 'view']" class="btn btn-outline-info" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/delega', delega.id, 'edit']" class="btn btn-outline-primary" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(delega)" class="btn btn-outline-danger" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="delegas && delegas.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
