<div>
  <h2 id="page-heading" data-cy="FasciaHeading">
    <span jhiTranslate="benzappApp.fascia.home.title">Fascias</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="benzappApp.fascia.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-fascia"
        [routerLink]="['/fascia/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="benzappApp.fascia.home.createLabel"> Create a new Fascia </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="fascias?.length === 0">
    <span jhiTranslate="benzappApp.fascia.home.notFound">No fascias found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="fascias && fascias.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead class="thead-dark">
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="benzappApp.fascia.descrizione">Descrizione</span></th>
          <th scope="col"><span jhiTranslate="benzappApp.fascia.scontoBenzina">Sconto Benzina</span></th>
          <th scope="col"><span jhiTranslate="benzappApp.fascia.scontoGasolio">Sconto Gasolio</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fascia of fascias; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/fascia', fascia.id, 'view']">{{ fascia.id }}</a>
          </td>
          <td>{{ fascia.descrizione }}</td>
          <td>{{ fascia.scontoBenzina }}</td>
          <td>{{ fascia.scontoGasolio }}</td>
          <td class="text-right">
            <div>
              <button type="submit" [routerLink]="['/fascia', fascia.id, 'view']" class="btn btn-outline-info" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/fascia', fascia.id, 'edit']" class="btn btn-outline-primary" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(fascia)" class="btn btn-outline-danger" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
