<mat-card style="margin: 12px">

  <mat-card-header fxLayout="row" fxFlexAlign="center center">
    <div mat-card-avatar>
      <mat-icon>list</mat-icon>
    </div>
    <mat-card-title><span jhiTranslate="benzappApp.stazione.home.title">Rifornimentos</span>
    </mat-card-title>

  </mat-card-header>

  <mat-card-actions fxLayout="row wrap" fxLayoutAlign="end center" fxLayoutGap="20px">
    <button mat-stroked-button color="primary">
      <mat-icon>refresh</mat-icon>
      <span jhiTranslate="benzappApp.rifornimento.home.refreshListLabel">Refresh List</span>
    </button>
  </mat-card-actions>

  <mat-card-content *ngIf="stazioni">
    <mat-list>
      <mat-list-item *ngFor="let elem of stazioni">
        <img matListAvatar width="64" src="{{getMarchioImage(elem)}}">
        <h3 matLine style="font-weight: bold"> {{elem.indirizzo}} </h3>
        <h6 matLine>{{elem.comune}}</h6>
        <h6 matLine style="text-align: end"><span>Benzina 1.3 €/L.</span>&nbsp;&nbsp;<span>Gasolio 1.6 €/L.</span></h6>

        <button mat-icon-button color="primary" (click)="onNavigate(elem)">
          <mat-icon>directions</mat-icon>
        </button>

      </mat-list-item>
    </mat-list>

  </mat-card-content>
</mat-card>
