<div style="margin-top: 24px; margin-left: 12px; margin-right: 12px">
  <div class="row justify-content-center">
    <div class="col-8">
      <div *ngIf="rifornimento">
        <h2 fxLayout="row" fxLayoutAlign="space-between stretch">
          <span jhiTranslate="benzappApp.rifornimento.detail.title">Rifornimento</span>

          <button mat-stroked-button color="primary" (click)="previousState()">
            <mat-icon>arrow_back</mat-icon>
            <span jhiTranslate="entity.action.back">Back</span>
          </button>
        </h2>


        <hr/>

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ rifornimento.id }}</span>
          </dd>
          <dt><span jhiTranslate="benzappApp.rifornimento.data">Data</span></dt>
          <dd>
            <span>{{ rifornimento.data | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="benzappApp.rifornimento.litriErogati">Litri Erogati</span></dt>
          <dd>
            <span>{{ rifornimento.litriErogati }}</span>
          </dd>
          <dt><span jhiTranslate="benzappApp.rifornimento.sconto">Sconto</span></dt>
          <dd>
            <span>{{ rifornimento.sconto }}</span>
          </dd>
          <dt><span jhiTranslate="benzappApp.rifornimento.prezzoAlLitro">Prezzo Al Litro</span></dt>
          <dd>
            <span>{{ rifornimento.prezzoAlLitro }}</span>
          </dd>
          <dt><span jhiTranslate="benzappApp.rifornimento.tipoCarburante">Tipo Carburante</span></dt>
          <dd>
          <span
            jhiTranslate="{{ 'benzappApp.TipoCarburante.' + rifornimento.tipoCarburante }}">{{ rifornimento.tipoCarburante }}</span>
          </dd>
          <dt><span jhiTranslate="benzappApp.rifornimento.gestore">Gestore</span></dt>
          <dd>
            <div *ngIf="rifornimento.gestore">
              <a [routerLink]="['/gestore', rifornimento.gestore?.id, 'view']">{{ rifornimento.gestore?.id }}</a>
            </div>
          </dd>
          <dt><span jhiTranslate="benzappApp.rifornimento.tessera">Tessera</span></dt>
          <dd>
            <div *ngIf="rifornimento.tessera">
              <a [routerLink]="['/tessera', rifornimento.tessera?.id, 'view']">{{ rifornimento.tessera?.id }}</a>
            </div>
          </dd>
        </dl>

      </div>
    </div>
  </div>
</div>
