<mat-card style="margin: 12px">

  <mat-card-header fxLayout="row" fxFlexAlign="center center">
    <div mat-card-avatar>
      <button mat-icon-button color="primary" (click)="previousState()">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>
    <mat-card-title fxLayout fxFill fxLayoutAlign="space-around center">
      <span jhiTranslate="benzappApp.rifornimento.detail.title">Rifornimento</span>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div style="margin-top: 12px" fxLayout="row wrap" *ngIf="rifornimento">

      <mat-form-field >
        <mat-label><span jhiTranslate="benzappApp.rifornimento.data">Data</span></mat-label>
        <input readonly matInput value="{{ rifornimento.data | formatMediumDatetime }}">
      </mat-form-field>

      <mat-form-field>
        <mat-label><span jhiTranslate="benzappApp.rifornimento.gestore">Gestore</span></mat-label>
        <input readonly matInput value="{{ rifornimento.gestore?.indirizzo }}">
      </mat-form-field>

      <mat-form-field>
        <mat-label><span jhiTranslate="benzappApp.rifornimento.tessera">Tessera</span></mat-label>
        <input readonly matInput value="{{ rifornimento.tessera?.targa}}">
      </mat-form-field>

      <mat-form-field  >
        <mat-label><span jhiTranslate="benzappApp.rifornimento.litriErogati">Litri Erogati</span></mat-label>
        <input readonly matInput value="{{ rifornimento.litriErogati }}">
      </mat-form-field>

      <mat-form-field>
        <mat-label><span jhiTranslate="benzappApp.rifornimento.sconto">Sconto</span></mat-label>
        <input readonly matInput value="{{ rifornimento.sconto }}">
      </mat-form-field>

      <mat-form-field  >
        <mat-label><span jhiTranslate="benzappApp.rifornimento.prezzoAlLitro">Prezzo Al Litro</span></mat-label>
        <input readonly matInput value="{{ rifornimento.prezzoAlLitro }}">
      </mat-form-field>

      <mat-form-field>
        <mat-label><span jhiTranslate="benzappApp.rifornimento.tipoCarburante">Tipo Carburante</span></mat-label>
        <input readonly matInput value="{{ rifornimento.tipoCarburante }}">
      </mat-form-field>



    </div>

  </mat-card-content>
</mat-card>
