<div>
  <h2 id="page-heading" data-cy="MarchioHeading">
    <span jhiTranslate="benzappApp.marchio.home.title">Marchios</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="benzappApp.marchio.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-marchio"
        [routerLink]="['/marchio/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="benzappApp.marchio.home.createLabel"> Create a new Marchio </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="marchios?.length === 0">
    <span jhiTranslate="benzappApp.marchio.home.notFound">No marchios found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="marchios && marchios.length > 0">
    <table class="table table-striped table-hover" aria-describedby="page-heading">
      <thead class="thead-dark">
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="immagine">
            <span jhiTranslate="benzappApp.marchio.immagine">Immagine</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="nome"><span jhiTranslate="benzappApp.marchio.nome">Nome</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let marchio of marchios; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/marchio', marchio.id, 'view']">{{ marchio.id }}</a>
          </td>
          <td>
            <a *ngIf="marchio.immagine" (click)="openFile(marchio.immagine, marchio.immagineContentType)">
              <img
                [src]="'data:' + marchio.immagineContentType + ';base64,' + marchio.immagine"
                style="max-height: 30px"
                alt="marchio image"
              />
            </a>
            <span *ngIf="marchio.immagine">{{ marchio.immagineContentType }}, {{ byteSize(marchio.immagine) }}</span>
          </td>
          <td>{{ marchio.nome }}</td>
          <td class="text-right">
            <div>
              <button
                type="submit"
                [routerLink]="['/marchio', marchio.id, 'view']"
                class="btn btn-outline-info"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/marchio', marchio.id, 'edit']"
                class="btn btn-outline-primary"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(marchio)" class="btn btn-outline-danger" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="marchios && marchios.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
