<div style="margin-top: 24px; margin-left: 12px; margin-right: 12px">
  <h2 id="page-heading" data-cy="TesseraHeading">
    <span jhiTranslate="benzappApp.tessera.home.title">Tesseras</span>

    <div class="d-flex justify-content-end">
      <button mat-stroked-button color="primary" [disabled]="isLoading" (click)="loadPage()">
        <mat-icon [ngClass]="{ 'fa-spin': isLoading }">refresh</mat-icon>
        <span jhiTranslate="benzappApp.rifornimento.home.refreshListLabel">Refresh List</span>
      </button>

    </div>
  </h2>


  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="tesseras?.length === 0">
    <span jhiTranslate="benzappApp.tessera.home.notFound">No tesseras found</span>
  </div>

  <mat-list>
    <mat-list-item *ngFor="let elem of tesseras">
      <img matListAvatar width="64"  [src]="'data:' + elem.immagineContentType + ';base64,' + elem.immagine">
      <h3 matLine style="font-weight: bold"> {{elem.targa}} </h3>
      <h6 matLine>{{elem.carburante}}</h6>

      <button color="primary"
        mat-icon-button
        [routerLink]="['/tessera', elem.id, 'qrcode']"
              style="margin-right: 8px"
      >
        <mat-icon aria-hidden="false">qr_code</mat-icon>
      </button>
      <button color="primary"
        mat-icon-button
        [routerLink]="['/tessera', elem.id, 'view']"
      >
        <mat-icon aria-hidden="false">arrow_forward</mat-icon>
      </button>

    </mat-list-item>
    <mat-list-item *ngFor="let elem of deleghe">
      <img matListAvatar [src]="'data:' + elem.immagineContentType + ';base64,' + elem.immagine">
      <h3 matLine style="font-weight: bold"> {{elem.targa}} </h3>
      <h6 matLine>{{elem.carburante}}</h6>

      <mat-chip-list style="margin-right: 8px">
        <mat-chip color="accent">Delega</mat-chip>
      </mat-chip-list>

      <button color="primary"
              mat-icon-button
              [routerLink]="['/tessera', elem.id, 'qrcode-delega']"
              style="margin-right: 8px"
      >
        <mat-icon aria-hidden="false">qr_code</mat-icon>
      </button>
      <button color="primary" disabled="true"
              mat-icon-button
              [routerLink]="['/tessera', elem.id, 'view']"
      >
        <mat-icon aria-hidden="false">arrow_forward</mat-icon>
      </button>

    </mat-list-item>
  </mat-list>
</div>
