<div>
  <h2 id="page-heading" data-cy="CittadinoHeading">
    <span jhiTranslate="benzappApp.cittadino.home.title">Cittadinos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="benzappApp.cittadino.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-cittadino"
        [routerLink]="['/cittadino/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="benzappApp.cittadino.home.createLabel"> Create a new Cittadino </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="cittadinos?.length === 0">
    <span jhiTranslate="benzappApp.cittadino.home.notFound">No cittadinos found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="cittadinos && cittadinos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead class="thead-dark">
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nome"><span jhiTranslate="benzappApp.cittadino.nome">Nome</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="cognome">
            <span jhiTranslate="benzappApp.cittadino.cognome">Cognome</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="codiceFiscale">
            <span jhiTranslate="benzappApp.cittadino.codiceFiscale">Codice Fiscale</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="owner">
            <span jhiTranslate="benzappApp.cittadino.owner">Owner</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="fascia.id">
            <span jhiTranslate="benzappApp.cittadino.fascia">Fascia</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cittadino of cittadinos; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/cittadino', cittadino.id, 'view']">{{ cittadino.id }}</a>
          </td>
          <td>{{ cittadino.nome }}</td>
          <td>{{ cittadino.cognome }}</td>
          <td>{{ cittadino.codiceFiscale }}</td>
          <td>{{ cittadino.owner }}</td>
          <td>
            <div *ngIf="cittadino.fascia">
              <a [routerLink]="['/fascia', cittadino.fascia?.id, 'view']">{{ cittadino.fascia?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div>
              <button
                type="submit"
                [routerLink]="['/cittadino', cittadino.id, 'view']"
                class="btn btn-outline-info"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/cittadino', cittadino.id, 'edit']"
                class="btn btn-outline-primary"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(cittadino)" class="btn btn-danger" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="cittadinos && cittadinos.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
