<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-cittadino-heading" data-cy="CittadinoCreateUpdateHeading" jhiTranslate="benzappApp.cittadino.home.createOrEditLabel">
        Create or edit a Cittadino
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="benzappApp.cittadino.nome" for="field_nome">Nome</label>
          <input type="text" class="form-control" name="nome" id="field_nome" data-cy="nome" formControlName="nome" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="benzappApp.cittadino.cognome" for="field_cognome">Cognome</label>
          <input type="text" class="form-control" name="cognome" id="field_cognome" data-cy="cognome" formControlName="cognome" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="benzappApp.cittadino.codiceFiscale" for="field_codiceFiscale"
            >Codice Fiscale</label
          >
          <input
            type="text"
            class="form-control"
            name="codiceFiscale"
            id="field_codiceFiscale"
            data-cy="codiceFiscale"
            formControlName="codiceFiscale"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="benzappApp.cittadino.owner" for="field_owner">Owner</label>
          <input type="text" class="form-control" name="owner" id="field_owner" data-cy="owner" formControlName="owner" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="benzappApp.cittadino.fascia" for="field_fascia">Fascia</label>
          <select class="form-control" id="field_fascia" data-cy="fascia" name="fascia" formControlName="fascia">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="fasciaOption.id === editForm.get('fascia')!.value?.id ? editForm.get('fascia')!.value : fasciaOption"
              *ngFor="let fasciaOption of fascias; trackBy: trackFasciaById"
            >
              {{ fasciaOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
