<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button [matMenuTriggerFor]="menuNavigation"
            aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span jhiTranslate="global.title" class="navbar-title">Benzapp</span> <span
    class="navbar-version">&nbsp;&nbsp;{{ version }}</span>
    <span class="toolbar-spacer"></span>
    <button mat-button [matMenuTriggerFor]="menuAccount">
      <mat-icon>person</mat-icon>
      <span *ngIf="accountAuthenticated">{{ account?.login }}</span>
      <span *ngIf="!accountAuthenticated" jhiTranslate="global.menu.account.main"> Account </span>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-menu #menuNavigation="matMenu">
  <button mat-menu-item routerLinkActive="active" routerLink="/" [routerLinkActiveOptions]="{ exact: true }">
    <!-- home -->
    <mat-icon>home</mat-icon>
    <span jhiTranslate="global.menu.home">Home</span>
  </button>
  <button mat-menu-item *ngIf="isAuthenticated()" routerLinkActive="active" routerLink="/tessera" [routerLinkActiveOptions]="{ exact: true }">
    <mat-icon>directions_car</mat-icon>
    <span jhiTranslate="global.menu.entities.tessera">Tessera</span>
  </button>
  <button mat-menu-item *ngIf="isAuthenticated()" routerLinkActive="active" routerLink="/rifornimento" [routerLinkActiveOptions]="{ exact: true }">
    <mat-icon>local_gas_station</mat-icon>
    <span jhiTranslate="global.menu.entities.rifornimento">Rifornimento</span>
  </button>
  <button mat-menu-item *ngIf="isAuthenticated()" routerLinkActive="active"  routerLink="/stazione/map" [routerLinkActiveOptions]="{ exact: true }">
    <mat-icon>map</mat-icon>
    <span jhiTranslate="global.menu.entities.mappa">Mappa stazioni</span>
  </button>
  <button mat-menu-item *ngIf="isAuthenticated()" routerLinkActive="active"  routerLink="/stazione" [routerLinkActiveOptions]="{ exact: true }">
    <mat-icon>list</mat-icon>
    <span jhiTranslate="global.menu.entities.stazione">Stazioni</span>
  </button>
</mat-menu>

<mat-menu #menuAccount="matMenu">
  <button *ngIf="!accountAuthenticated" mat-menu-item (click)="login()">
    <mat-icon>login</mat-icon>
    <span jhiTranslate="global.menu.account.login">Sign in</span>
  </button>
  <button *ngIf="accountAuthenticated" mat-menu-item (click)="logout()">
    <mat-icon>logout</mat-icon>
    <span jhiTranslate="global.menu.account.logout">Sign out</span>
  </button>
</mat-menu>
