<div class="d-flex">
  TYPE PIN:
  <div>
    <table>
      <tr>
        <td><input type="password" #first maxlength="1" required readonly placeholder="_" size="1"></td>
        <td><input type="password" #second maxlength="1" required readonly placeholder="_" size="1"></td>
        <td><input type="password" #third maxlength="1" required readonly placeholder="_" size="1"></td>
        <td><input type="password" #fourth maxlength="1" required readonly placeholder="_" size="1"></td>
      </tr>
    </table>
  </div>
  <div>
    <table>
      <tr>
        <td (click)="enter(1)">1</td>
        <td (click)="enter(2)">2</td>
        <td (click)="enter(3)">3</td>
      </tr>
      <tr>
        <td (click)="enter(4)">4</td>
        <td (click)="enter(5)">5</td>
        <td (click)="enter(6)">6</td>
      </tr>
      <tr>
        <td (click)="enter(7)">7</td>
        <td (click)="enter(8)">8</td>
        <td (click)="enter(9)">9</td>
      </tr>
      <tr>
        <td></td>
        <td (click)="enter(0)">0</td>
        <td><button (click)="back()">BACKSPACE</button></td>
      </tr>
    </table>
  </div>
  <div>
    <button>SAVE</button>
  </div>
</div>
