<mat-card style="margin: 12px" class=" col-10" style="margin: auto">

  <mat-card-header fxLayout="row" fxFlexAlign="center center">
   <mat-card-subtitle>
     <p class="lead" jhiTranslate="home.subtitle">This is your homepage</p>
   </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div class="row">
      <div class="col-md-6">
        <div class="col-md-6" style="margin-top: 24px">
          <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
          <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message"
                [translateValues]="{ username: account.login }"
          >You are logged in as user "{{ account.login }}".</span
          >
            </div>

          </div>
        </div>

        <br/>

        <p class="lead">{{fcmMessagingService.token ? 'FCM TOKEN generato' : 'FMC token NON GENERATO!'}}</p>

        <p class="lead">{{baseUrl}}</p>

        <div fxLayout fxLayoutAlign="center center" style="min-height: 400px">
          <ngx-qrcode #qrcode [width]="300"
                      [elementType]="elementType"
                      [value]="baseUrl"
          >
          </ngx-qrcode>
        </div>

        <br/>

        <button class="btn btn-outline-primary" (click)="requestPermission()">
          Remote config: {{remoteConfigService.backendBaseUrl}}
        </button>

      </div>

    </div>
  </mat-card-content>
</mat-card>
