<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="cittadino">
      <h2 data-cy="cittadinoDetailsHeading"><span jhiTranslate="benzappApp.cittadino.detail.title">Cittadino</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ cittadino.id }}</span>
        </dd>
        <dt><span jhiTranslate="benzappApp.cittadino.nome">Nome</span></dt>
        <dd>
          <span>{{ cittadino.nome }}</span>
        </dd>
        <dt><span jhiTranslate="benzappApp.cittadino.cognome">Cognome</span></dt>
        <dd>
          <span>{{ cittadino.cognome }}</span>
        </dd>
        <dt><span jhiTranslate="benzappApp.cittadino.codiceFiscale">Codice Fiscale</span></dt>
        <dd>
          <span>{{ cittadino.codiceFiscale }}</span>
        </dd>
        <dt><span jhiTranslate="benzappApp.cittadino.owner">Owner</span></dt>
        <dd>
          <span>{{ cittadino.owner }}</span>
        </dd>
        <dt><span jhiTranslate="benzappApp.cittadino.fascia">Fascia</span></dt>
        <dd>
          <div *ngIf="cittadino.fascia">
            <a [routerLink]="['/fascia', cittadino.fascia?.id, 'view']">{{ cittadino.fascia?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/cittadino', cittadino.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
