<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-delega-heading" data-cy="DelegaCreateUpdateHeading" jhiTranslate="benzappApp.delega.home.createOrEditLabel">
        Create or edit a Delega
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="benzappApp.delega.cittadino" for="field_cittadino">Cittadino</label>
          <select class="form-control" id="field_cittadino" data-cy="cittadino" name="cittadino" formControlName="cittadino">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="cittadinoOption.id === editForm.get('cittadino')!.value?.id ? editForm.get('cittadino')!.value : cittadinoOption"
              *ngFor="let cittadinoOption of cittadinos; trackBy: trackCittadinoById"
            >
              {{ cittadinoOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="benzappApp.delega.tessera" for="field_tessera">Tessera</label>
          <select class="form-control" id="field_tessera" data-cy="tessera" name="tessera" formControlName="tessera">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="tesseraOption.id === editForm.get('tessera')!.value?.id ? editForm.get('tessera')!.value : tesseraOption"
              *ngFor="let tesseraOption of tesseras; trackBy: trackTesseraById"
            >
              {{ tesseraOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
