<div style="margin-top: 24px; margin-left: 12px; margin-right: 12px">
    <div *ngIf="tessera" >

      <h2 data-cy="tesseraDetailsHeading">
        <span jhiTranslate="benzappApp.tessera.detail.title">Tessera</span>

        <div class="d-flex justify-content-end">
        <button mat-stroked-button color="primary" (click)="previousState()">
          <mat-icon>arrow_back</mat-icon>
          <span jhiTranslate="entity.action.back">Back</span>
        </button>
        </div>

      </h2>


      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><!--<span jhiTranslate="benzappApp.tessera.immagine">Immagine</span>--></dt>
        <dd>
          <div *ngIf="tessera.immagine">
            <a (click)="openFile(tessera.immagine, tessera.immagineContentType)">
              <img
                [src]="'data:' + tessera.immagineContentType + ';base64,' + tessera.immagine"
                style="max-width: 100%"
                alt="tessera image"
              />
            </a>
            <!--            {{ tessera.immagineContentType }}, {{ byteSize(tessera.immagine) }}-->
          </div>
        </dd>

      </dl>

      <mat-form-field style="margin: 12px" appearance="fill">
        <mat-label><span jhiTranslate="benzappApp.tessera.targa">Targa</span></mat-label>
        <input readonly matInput value="{{ tessera.targa }}">
      </mat-form-field>

      <mat-form-field style="margin: 12px" appearance="fill">
        <mat-label><span jhiTranslate="benzappApp.tessera.codice">Codice</span></mat-label>
        <input readonly matInput value="{{ tessera.codice }}">
      </mat-form-field>

      <mat-form-field style="margin: 12px" appearance="fill">
        <mat-label><span jhiTranslate="benzappApp.tessera.dataEmissione">Data Emissione</span></mat-label>
        <input readonly matInput value="{{ tessera.dataEmissione | formatMediumDatetime }}">
      </mat-form-field>

      <mat-form-field style="margin: 12px" appearance="fill">
        <mat-label><span jhiTranslate="benzappApp.tessera.veicolo">Veicolo</span></mat-label>
        <input readonly matInput value="{{ tessera.veicolo }}">
      </mat-form-field>

      <mat-form-field style="margin: 12px" appearance="fill">
        <mat-label><span jhiTranslate="benzappApp.tessera.carburante">Carburante</span></mat-label>
        <input readonly matInput value="{{ tessera.carburante }}">
      </mat-form-field>

    </div>
  </div>
